.form-container{
    box-shadow: 0px 0px 6px 0px #000;
    border-radius: 10px;
    padding: 40px;
    background: #f6f6f6;
    position: absolute;
    margin-top: 35%;
    margin-bottom: 70%;
    margin-left: 19%;
    margin-right: 16%;
}
