.form-container{
    box-shadow: 0px 0px 6px 0px #000;
    border-radius: 10px;
    padding: 40px;
    background: #f6f6f6;
    width: 322px;
    margin-top: 30%;
    position: relative;
    margin-bottom: 20%;
    margin-left: 19%;
    transform: translate(-15%,7%);
}


