body{
    padding: 0;
    background-size: cover;

  }

.navegar{
    height: auto;
    font-family: 'Arial';
    margin: 10px;
}
.contact-form{
    width: 85%;
    max-width: 600px;
    background: #f1f1f1;
    margin-top: 3%;
    margin-bottom: 40px;
    left: 50%;
    transform: translate(-50%,7%);
    padding: 3% 3% 2%;
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0 0 20px #000000b3;
    font-family: "Montserrat",sans-serif;
    text-align: center;
  }
  
.contact-form .item label{
    display: block;
    padding: 10px;
    background-color: #545454;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    border-bottom: solid 2px #aaa;
    border-radius: 2%;
}
.contact-form label:hover{
    background-color: #f2673a;
}
.contact-form ul{
    list-style: none;
    width: auto;
    margin-left: -40px;
    overflow: hidden;
    max-height: 0;
    transition: all .4s linear;
}

.contact-form input:checked ~ ul{
    height: auto;
    max-height: 200px;
    transform: all;
}
.contact-form ul li a{
    height: 50px;
    padding: 15px;
    display: block;
    text-decoration: none;
    background-color: #fafafa;
    color: #333;
    border-bottom: solid 2px #aaa;
}

.contact-form input{
    display: none;
}

.contact-form ul li a:hover{
    background-color:#9CF ;
}
