body{
    margin: 0;
    padding: 0;
    background-size: cover;
  }
  .contact-form{
    width: 85%;
    max-width: 600px;
    background: #f1f1f1;
    margin-top: 3%;
    left: 50%;
    transform: translate(-50%,6%);
    padding: 30px 40px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0 0 20px #000000b3;
    font-family: "Montserrat",sans-serif;
    text-align: center;
  }
  .contact-form h1{
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 100px;
  }
 