.painel{
    margin-top: 75px;
    margin-left: 40px;
    margin-right: 40px;
}
.painel h1{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

.panel img{
    width:800px;
    height: 500px;;
}

.accordion {
    background: #f1f1f1;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 3px #000000b3;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 1px solid white;
    outline: none;
    transition: 0.4s;
    font: 20px Lato, sans-serif;
}

.active, .accordion:hover {
    background-color: 	#D3D3D3;
}

.gerarPdf{
    text-align: center;
}

.gerarPdf .pdf{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 120px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 3px #000000b3;
    background: #f1f1f1;

}

.painel .img{
    text-align: center;
    width: 10%;
    height: 20%;
}

.panel {
    padding: 0px 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-top: 10px;
    text-align: center;
}

p{
    font: 16px Lato, sans-serif; 
}

.accordion:after {
    content: '\02795'; 
    font-size: 13px;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; 
}